@import "./_Variables";
@import "./_Mixins";

.Catering {
  margin: 0;
  padding: 0;
  display: inline-flex;
  .CateringWrap {
    display: flex;
    width: 100%;
    padding-top: 150px;
    text-align: center;
      .column-1 {
        padding: 0 10px 0 10px;
      }
      .column-2 {
        padding: 0 10px 0 10px;
      }
      h1 {
        @include large;
        margin: 10px 0 0 0;
        padding: 20px;
      }
    span {
      @include gray-span;
    }
    .Outline {
      margin: 0;
      padding: 0;
      border: 1px solid rgba(219, 0, 0, 0.52);
      text-align: left;
      max-width: 400px;
      h5 {
        @include small-bold;
        margin: 0 0 5px 0;
        padding: 25px 0 0 25px;
      }
      p {
        @include small;
        max-width: 250px;
        margin: 0 0 5px 0;
        padding: 0 0 0 25px;
      }
    }
  }
}

/*Begin Responsive Style*/

@media screen and (min-width: 768px) and (max-width: 1024px) {

}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .Catering {
    .CateringWrap {
      display: block;
    }
  }
}
