@import "../sass/_Variables";
@import "../sass/_Mixins";

.DowntownRoom {
  width: 100%;
  //display: inline-flex;
.DowntownRoomWrap {
  display: block;
//  padding: 100px;
  h2 {
    @include large;
    color: $white; 
    padding: 0 100px 0 100px;
  }
}
}

/*Begin Responsive Style*/

@media screen and (min-width: 768px) and (max-width: 1024px) {


}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .DowntownRoom {
    .DowntownRoomWrap {
      h1 {
        padding: 10px;
      }
      h2 {
        padding: 10px;
        @include medium;
        color: $white;
      }
    }
  }
}
