@import "./_Variables";
@import "./_Mixins";

.Downtown {
  .Weekdays {
    text-align: left;
  }
  .Weekends {
    text-align: right;
  }
  a {
    text-decoration: none;
  }
  h1 {
    @include extra-large-bold;
    margin: 0;
  }
  span {
    @include span;
  }
  p {
    @include medium;
  }
  .Hours {
    display: flex;
    padding-top: 0.5rem;
  }
}
