@import "../sass/_Variables";
@import "../sass/_Mixins";

.DowntownRoom {
  width: 100%;
  display: inline-flex;
.DowntownRoomWrap {
  display: inline-block;
  h1 {
    @include extra-large-bold;
    color: $white;
  }
  h2 {
    @include extra-large;
    color: $white; 
    padding: 25px;
  }
}
}
