@import "../sass/_Variables";

.Locations {
  width: 100%;
  text-align: center;
  color: $light;
  .Locations-wrap {
    background-color: #ffffff;
    display: flex;
    text-align: left;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px;
  }
}

/*Begin Responsive Style*/

@media screen and (min-width: 768px) and (max-width: 1024px) {


}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .Locations {
    .Locations-wrap {
      display: block;
    }
  }
}
