@import "./_Variables";
@import "./_Mixins";

.Menu {
  margin: 0;
  padding: 0;
  display: inline-flex;
  background-color: #FFFFFF;
  .MenuWrap {
    width: 100%;
    .mobile-menu {
      display: none;
    }
    display: flex;
    width: 100%;
    padding-top: 150px;
    text-align: center;
      .column-1 {
        padding: 0 10px 0 10px;
      }
      .column-2 {
        padding: 0 10px 0 10px;
      }
      .column-3 {
        padding: 0 10px 0 10px;
      }
      h1 {
        @include large;
        margin: 10px 0 0 0;
        padding: 20px;
      }

    span {
      @include gray-span;
    }
    .Outline {
      margin: 0;
      padding: 0;
      border: 1px solid rgba(219, 0, 0, 0.52);
      text-align: left;
      max-width: 400px;
      h5 {
        @include small-bold;
        margin: 0 0 5px 0;
        padding: 25px 0 0 25px;
      }
      p {
        @include small;
        max-width: 250px;
        margin: 0 0 5px 0;
        padding: 0 0 0 25px;
      }
    }
    .PortobelloCaps {
        text-align: left;
        margin-top: 25px;
        width: 100%;
        min-height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../images/DSC04717.jpg");
        h6 {
          @include photo-caption;
          padding: 10px;
        }
    }
  }
}

/*Begin Responsive Style*/

@media screen and (min-width: 768px) and (max-width: 1024px) {

}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .Menu {
    .MenuWrap {
      .column-1 {
        display: none;
      }
      .column-2 {
        display: none;
      }
      .column-3 {
        display: none;
      }
      .mobile-menu {
        display: block;
      }
      padding-top: 110px;
      display: flex;
      flex-flow: column;

    }
  }
}
