@import "./_Variables";

.Navigation {
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed !important;
  top: 0;
  background-color: #ffffff;
  text-align: center;
  align-items: center;
  .NavigationWrap {
    margin: auto;
    padding: auto;
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    .left-links {
      width: 40%;
      //width: 33.33333%;
    }
    .logo {
      width: 20%;
    //  width: 33.33333%;
      img {
        max-width: 120px;
        margin: auto;
      }
    }
    .right-links {
      width: 40%;

    //width: 33.33333%;
    }
    ul {
      margin: 0;
    }
    ul li {
      display: inline-flex;
      padding: 0 0.65em 0 0.65em;
      font-family: $nav-font;
      font-weight: lighter;
      letter-spacing: 0.09em;
      font-style: normal;
      text-transform: uppercase;
      font-size: 25px;
      :hover {
        color: #bf5252;
      }
      a {
        color: $dark;
        text-decoration: none;
      }
    }
  }

}

/*Begin Responsive Style*/

@media screen and (min-width: 768px) and (max-width: 1024px) {


}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .Navigation {
    margin: 0;
    padding: 0;
    .NavigationWrap {
      display: flex;
      height: 100px;
      max-width: 100%;
      text-align: left;
      .logo {
        position: absolute;
        left: 50%;
        z-index: 1;
        transform: translate3d(-80%, 0, 0);
      }
    }

  }
  .Navigation ul {
    display: none;
  }
}
