@import "../sass/_Variables";
@import "../sass/_Mixins";

.OnlineOrdering {
  text-align: center;
  .OnlineOrderingWrap {
    width: 100%;
    text-align: center;
    .OnlineOrderingLinks {
      text-align: center;
      button {
        border: 5px solid #ffffff;
        background-color:  #171717;
        @include photo-caption;
        font-size: 2.25em;
        font-weight: bolder;
        letter-spacing: 0.09em;
        border-radius: 1.5%;
        min-width: 600px;
        height: 100px;
        margin: 10px;
        padding: 10px;
        //display: inline-block;
        a {
          color: $white;
          text-decoration: none;
          &:hover {
            color: #bf5252;
          }
        }
    }
  }


    .Line {
      display: inline-flex;
      width: 9.5em;
      height: 0.325em;
      border-top: 0.225em solid #bf5252;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
  h1 {
    @include extra-large;
    color: $white;
    margin: 0;
    padding: 0;

  }
  h5 {
    @include small;
    color: $white;
    padding-bottom: 10px;
  }
  .OrderingLinks {
    width: 100%;
    padding-top: 50px;
    text-align: center;
    section {
      display: inline;
      margin: 25px;
      button {
        text-align: left;
      }
      h3 {
        color: $white;
        font-family: $nav-font;
        text-transform: uppercase;
        font-weight: lighter;
        letter-spacing: 0.09em;
        font-style: normal;
        border-left: 2px solid #bf5252;
        padding-left: 10px;
      }
    }
  }
}

/*Begin Responsive Style*/

@media screen and (min-width: 768px) and (max-width: 1024px) {

}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .OnlineOrdering {
    .OnlineOrderingWrap {
      .OnlineOrderingLinks {
        button {
          min-width: 200px;
          max-width: 300px;
        }
      }
    }
  }
}
