@import "../sass/_Variables";
@import "../sass/_Mixins";

.PhotoGalleryTwo {
  .PhotoGalleryWrap {
    article {
      min-height: 700px;
      border: 5px solid #ffffff;
      text-align: left;
      h6 {
        @include photo-caption;
        padding: 10px;
      }
    }
    .PhotoGalleryRow {
      display: flex;
      .Photo1 {
        width: 40%;
        background-image: url("../images/IMG_0120.jpg");
        background-size: cover;
        background-position: center;
      }
      .Photo2 {
        width: 60%;
        background-image: url("../images/IMG_0114.jpg");
        background-size: cover;
        background-position: center;
      }
    }
    .PhotoGalleryRow2 {
      display: flex;
      .Photo3 {
        width: 60%;
        background-image: url("../images/IMG_0066.jpg");
        background-size: cover;
        background-position: center;
      }
      .Photo4 {
        width: 40%;
        background-image: url("../images/IMG_0093.jpg");
        background-size: cover;
        background-position: center;
      }
    }
    .PhotoGalleryRow3 {
      display: flex;
      .Photo5 {
        width: 40%;
        background-image: url("../images/IMG_0071.jpg");
        background-size: cover;
        background-position: center;
      }
      .Photo6 {
        width: 60%;
        background-image: url("../images/IMG_0108.jpg");
        background-size: cover;
        background-position: center;
      }
    }
  }
}

/*Begin Responsive Style*/

@media screen and (min-width: 768px) and (max-width: 1024px) {


}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .PhotoGallery {
    .PhotoGalleryWrap {
      article {
        border-right: none;
        border-left: none;
      }
      .PhotoGalleryRow {
        display: block;
        .Photo1 {
          width: 100%;
          min-height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        .Photo2 {
          width: 100%;
          min-height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      .PhotoGalleryRow2 {
        display: block;
        .Photo3 {
          width: 100%;
          min-height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        .Photo4 {
          width: 100%;
          min-height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      .PhotoGalleryRow3 {
        display: block;
        .Photo5 {
          width: 100%;
          min-height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        .Photo6 {
          width: 100%;
          min-height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}

/*Begin Responsive Style*/

@media screen and (min-width: 768px) and (max-width: 1024px) {


}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .PhotoGalleryTwo {
    .PhotoGalleryWrap {
      article {
        border-right: none;
        border-left: none;
      }
      .PhotoGalleryRow {
        display: block;
        .Photo1 {
          width: 100%;
          min-height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        .Photo2 {
          width: 100%;
          min-height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      .PhotoGalleryRow2 {
        display: block;
        .Photo3 {
          width: 100%;
          min-height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        .Photo4 {
          width: 100%;
          min-height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      .PhotoGalleryRow3 {
        display: block;
        .Photo5 {
          width: 100%;
          min-height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        .Photo6 {
          width: 100%;
          min-height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }

}
