@import "../sass/_Variables";
@import "../sass/_Mixins";

.PhotoGalleryTwo {
  .PhotoGalleryWrap {
    article {
      min-height: 700px;
      h6 {
        @include photo-caption;
        padding: 10px;
      }
    }
    .PhotoGalleryRow {
      display: flex;
      .Photo1 {
        width: calc(40% - 2.5px);
        border-top: 5px solid #ffffff;
        border-right: 2.5px solid #ffffff;
        border-bottom: 2.5px solid #ffffff;
        border-left: 0;
        background-image: url("../images/IMG_0120.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .Photo2 {
        width: calc(60% + 2.5px);
        border-top: 5px solid #ffffff;
        border-bottom: 2.5px solid #ffffff;
        border-left: 2.5px solid #ffffff;
        background-image: url("../images/IMG_0114.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .PhotoGalleryRow2 {
      display: flex;
      .Photo3 {
        width: calc(60% - 2.5px);
        border-top: 2.5px solid #ffffff;
        border-right: 2.5px solid #ffffff;
        border-bottom: 2.5px solid #ffffff;
        background-image: url("../images/IMG_0066.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .Photo4 {
        width: calc(40% + 2.5px);
        border-top: 2.5px solid #ffffff;
        border-bottom: 2.5px solid #ffffff;
        border-left: 2.5px solid #ffffff;
        background-image: url("../images/IMG_0093.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .PhotoGalleryRow3 {
      display: flex;
      .Photo5 {
        width: calc(40% - 2.5px);
        border-top: 2.5px solid #ffffff;
        border-right: 2.5px solid #ffffff;
        border-bottom: 2.5px solid #ffffff;
        background-image: url("../images/IMG_0071.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .Photo6 {
        width: calc(60% + 2.5px);
        border-top: 2.5px solid #ffffff;
        border-bottom: 2.55px solid #ffffff;
        border-left: 2.5px solid #ffffff;
        background-image: url("../images/IMG_0108.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .PhotoGalleryRow4 {
      display: flex;
      .Photo7 {
        width: calc(40% - 2.5px);
        border-top: 2.5px solid #ffffff;
        border-right: 2.5px solid #ffffff;
        border-bottom: 5px solid #ffffff;
        border-left: 0;
        background-image: url("../images/IMG_0177.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .Photo8 {
        width: calc(60% + 2.5px);
        border-top: 2.5px solid #ffffff;
        border-bottom: 5px solid #ffffff;
        border-left: 2.5px solid #ffffff;
        background-image: url("../images/IMG_0190.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}

/*Begin Responsive Style*/

@media screen and (min-width: 768px) and (max-width: 1024px) {


}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .PhotoGalleryTwo {
    .PhotoGalleryWrap {
      .PhotoGalleryRow {
        display: block; 
        .Photo1 {
          width: 100%;
          border-right: 0;
          min-height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        .Photo2 {
          width: 100%;
          border-top: 2.5px solid #ffffff;
          border-left: 0;
          min-height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      .PhotoGalleryRow2 {
        display: block;
        .Photo3 {
          width: 100%;
          border-right: 0;
          min-height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        .Photo4 {
          width: 100%;
          border-left: 0;
          min-height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      .PhotoGalleryRow3 {
        display: block;
        .Photo5 {
          width: 100%;
          border-right: 0;
          min-height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        .Photo6 {
          width: 100%;
          border-left: 0;
          min-height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      .PhotoGalleryRow4 {
        display: block;
        .Photo7 {
          width: 100%;
          border-right: 0;
          border-bottom: 2.5px solid #ffffff;
          min-height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        .Photo8 {
          width: 100%;
          border-left: 0;
          min-height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }

}
