@import "../sass/_Variables";
@import "../sass/_Mixins";

.FoodPhotoGallery {
  .FoodPhotoGalleryWrap {
    article {
      min-height: 700px;
      border: 5px solid #ffffff;
      text-align: left;
      h6 {
        @include photo-caption;
        padding: 10px;
      }
    }
    .FoodPhotoGalleryRow {
      display: flex;
      .PortobelloCaps {
        width: 40%;
        background-image: url("../images/DSC04717.jpg");
        background-size: cover;
        background-position: center;
      }
      .PocoTips {
        width: 60%;
        background-image: url("../images/DSC04727.jpg");
        background-size: cover;
        background-position: center;
      }
    }
    .FoodPhotoGalleryRow2 {
      display: flex;
      .ChickenWraps {
        width: 30%;
        background-image: url("../images/DSC04786.jpg");
        background-size: cover;
        background-position: center;
      }
      .Hummus {
        width: 40%;
        background-image: url("../images/DSC04751.jpg");
        background-size: cover;
        background-position: center;
      }
      .Arayes {
        width: 30%;
        background-image: url("../images/DSC04757.jpg");
        background-size: cover;
        background-position: center;
      }
    }
    .FoodPhotoGalleryRow3 {
      display: flex;
      .Pizza {
        width: 40%;
        background-image: url("../images/DSC04736.jpg");
        background-size: cover;
        background-position: center;
      }
      .Fatoosh {
        width: 60%;
        background-image: url("../images/DSC04768.jpg");
        background-size: cover;
        background-position: center;
      }
    }
  }
}


/*Begin Responsive Style*/

@media screen and (min-width: 768px) and (max-width: 1024px) {

}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .FoodPhotoGallery {
    .FoodPhotoGalleryWrap {
      article {
        border: 2px solid #ffffff;
        min-height: 200px;
        max-height: 300px;
      }
    }
  }
}