.Catering {

  .column-1 {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
    padding: 2em 0;

    // Primary Mobile - Tablet & Below
    @media screen and (max-width: $tablet) {
      column-count: 3;
    } // End Tablet & Below

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      column-count: 1;
    } // End Phone & Below
  }

  .column-2 {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
    padding: 2em 0;

    // Primary Mobile - Tablet & Below
    @media screen and (max-width: $tablet) {
      column-count: 3;
    } // End Tablet & Below

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      column-count: 1;
    } // End Phone & Below

    p {
      // margin: 0;
      // padding: 0;

    }
  }
  .column-3 {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
    padding: 2em 0;

    // Primary Mobile - Tablet & Below
    @media screen and (max-width: $tablet) {
      column-count: 3;
    } // End Tablet & Below

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      column-count: 1;
    } // End Phone & Below

    p {
      margin: 0;
      padding: 0;

    }
  }

  h1 {
    @include large;

  }


  h5 {
    @include small-bold;
    margin-bottom: 1rem;

  }

  p {
    @include small;

  }

}
