.modal {
  margin: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(#000, .5);
  z-index: 10000;
  transition: all .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &-content {
    box-sizing: border-box;
    background-color: #fff;
    padding: 5em 6em;
    position: relative;
    z-index: 9999;
    border-radius: 0.5em;
    overflow: hidden;

    @media screen and (max-width: $phone) {
      width: 85%;
      padding: 2em 2em;
      //text-align: center;
    } // End Phone & Below

    &-heading {
      //text-transform: uppercase;
      font-family: $heading;
      font-size: 2.15em;
      color: $dark;
      margin-bottom: 2rem;
    }

    &-copy {
      font-family: $gothic;
      //text-transform: uppercase;
      font-size: 1.15em;
      margin-bottom: 2rem;
      letter-spacing: 0.1rem;
      text-align: left;

      @media screen and (max-width: $phone) {
        font-size: 1em;
      } // End Phone & Below
    }

    &-bottom {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
    }

    .social-link {
      text-decoration: none;
      color: #3b5998;;
    }
  }
}

.modal-closed {
  display: none;
}
