.full-menu {
  background-color: $foreground;
  color: $callout;
  padding: 6em 0;
}


.menu-category {
  //display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 6em;


  // Primary Mobile - Tablet & Below
  @media screen and (max-width: $tablet) {
    flex-direction: column;
  } // End Tablet & Below

  &-type {

    h1 {
      color: #4B3B40;
      font-size: 5em;
      margin-bottom: 1em;
    }
  }

  &-items {
    //max-width: 50%;

    h5 {
      @include h1;
      font-size: 1.5em;
      color: #4B3B40;
      display: flex;
      justify-content: space-between;
    }
  }

  &-item {
    margin-bottom: 1.5em;
    position: relative;
    border-bottom: 0.1em solid #4B3B40;

    p {
      color: #4B3B40;
      font-family: $font-medium;
      font-size: 1.2;
    }

    &__price {
      flex-direction: row-reverse;
    }
  }
}
