.full-menu {
  background-color: transparent;
  color: $callout;
  padding: 6em 0;
}

.menu-category {
  margin-bottom: 6em;


  // Primary Mobile - Tablet & Below
  @media screen and (max-width: $tablet) {
    flex-direction: column;
  } // End Tablet & Below

  &-type {
    

    h1 {
      color: $foreground;
      font-size: 5em;
      margin-bottom: 1em;

      // Secondary Mobile - Phone & Below
      @media screen and (max-width: $phone) {
        font-size: 3.75em;
      } // End Phone & Below
    }
  }

  &-items {

    h5 {
      @include h1;
      font-size: 1.5em;
      color: $foreground;
      display: flex;
      justify-content: space-between;
    }
  }

  &-item {
    margin-bottom: 1.5em;
    position: relative;
    border-bottom: 0.1em solid $foreground;

    p {
      color: $foreground;
      font-family: $font-medium;
      font-size: 1.2;
    }

    &__price {
      flex-direction: row-reverse;
    }
  }
}
