.Banner {
  text-align: center;
  width: 100%;
  display: block;
  height: 1000px;
  background-image: url('../images/DSC04762.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  section {
    width: 100%;
  }
  .Banner-Wrap {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(28,31,38,0.75), rgba(28,31,38,0.1));
    .Banner-Inner {
      margin: auto;
      text-align: center;
      min-width: 200px;
      max-width: 300px;
      h1 {
        @include extra-large;
        color: #fff;
        padding-top: 200px;
      }
      h6 {
          border: 0.15rem #fff solid;
        a {
          @include online-ordering;
        }
      }
    }
  }
}

/*Begin Responsive Style*/

@media screen and (min-width: 768px) and (max-width: 1024px) {


}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .Banner {
    height: 600px;
  }
}
