.home-hero {
  padding: 6em 0;
  background-image: url('../images/beet-salad.png');
  background-position: 104%;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;

  @media screen and (max-width: $tablet) {
    background-position: 109% bottom;
    background-size: 60%;
  } // End Tablet & Below

  // Primary Mobile - Tablet & Below
  @media screen and (max-width: $tablet) {
    height: auto;
  } // End Tablet & Below

  .phone {
    text-decoration: none;
  }

  // CTA
  .cta {
    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      min-width: 10em;
      margin-bottom: 2rem;
      display: inline-block;
    } // End Phone & Below

  	&:first-of-type {
  		margin-right: 1rem;
      // Primary Mobile - Tablet & Below
    	@media screen and (max-width: $tablet) {
    	  margin-right: 0;
    	} // End Tablet & Below
    }
  }

  h1 {
    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      font-size: 3.75em;
    } // End Phone & Below
  }

  h6 {
    transform: translateX(0.2em);

  	span {
      display: block;
      color: $foreground;
      position: relative;

      // &:first-of-type:before {
      //   content: "";
      //   height: 1em;
      //   width: 13em;
      //   position: absolute;
      //   position: absolute;
      //   bottom: -0.1em;
      //   left: 0;
      //   background-color: #3b5998;
      //   z-index: -1;
      //   margin: 0 -0.15em;
      // }
      //
      // &:last-of-type:before {
      //   content: "";
      //   height: 1em;
      //   width: 8em;
      //   position: absolute;
      //   position: absolute;
      //   bottom: -0.1em;
      //   left: 0;
      //   background-color: #3b5998;
      //   z-index: -1;
      //   margin: 0 -0.15em;
      // }

      .phone {
        color: $foreground;
        margin: 0;
      	font-size: 1em;
      	line-height: 1.2;
      	letter-spacing: 0.1rem;
      	margin-bottom: 0.6em;
      	font-family: $gothic;
      }

  		&:first-of-type {
  			// Secondary Mobile - Phone & Below
  			@media screen and (max-width: $phone) {
  				margin-bottom: 0.5em;
  			} // End Phone & Below
  		}
  	}
  }
}
