.locations {
  background-color: $color5;
  //background-color: #f8ecde;;
  overflow: hidden;
  position: relative;
  z-index: 0;

  &-content {
    display: flex;
    justify-content: space-between;

    // Primary Mobile - Tablet & Below
    @media screen and (max-width: $tablet) {
      flex-direction: column;
  } // End Tablet & Below

    .location {
      padding: 2em 0;
    }

    h3 {
      font-size: 3.3em;
      letter-spacing: 0.1em;
      font-family: $font-medium;
      text-transform: lowercase;
      color: #FFF;
      margin: 0 0 3rem 0;
    }

    p {
      font-family: $font-medium;
      font-size: 0.975em;
      margin-bottom: 0.3em;
      letter-spacing: 0.1rem;
      color: #FFF;
    }

    .address {
      margin-bottom: 3rem;

      p {
        line-height: 1;
      }
    }

    .hours {
      p {
        line-height: 1;
      }
    }
  }
}
