.locations {
  padding: 0 0 6em 0;
  overflow: hidden;
  position: relative;
  z-index: 0;
  display: block;

  &-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;



      // Primary Mobile - Tablet & Below
      @media screen and (max-width: $tablet) {
        margin-bottom: 4em;
      } // End Tablet & Below

      &:last-child {
        margin-bottom: 0;
      }


    h3 {
      font-size: 2.3em;
      letter-spacing: 0.1em;
      font-family: $gothic;
      text-transform: uppercase;
      color: $dark;
      margin: 0 0 3rem 0;

    }

    p {
    }

    .address {
      margin-bottom: 1.5em;

      p {
        display: block;
      }
    }

    .hours {
      p {
        display: block;
      }
    }
  }
}



$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

.row {
    //max-width: $grid-width;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    // Primary Mobile - Tablet & Below
    @media screen and (max-width: $tablet) {
      max-width: 25rem;
    } // End Tablet & Below

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;

        // Primary Mobile - Tablet & Below
        @media screen and (max-width: $tablet) {
          margin-bottom: $gutter-vertical-small;
      } // End Tablet & Below
    }

    // Primary Mobile - Tablet & Below
    @media screen and (max-width: $tablet) {
      max-width: 50rem;
      padding: 0 3rem;
  } // End Tablet & Below

    // @include clearfix;

    [class^="col-"] {


        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            // Primary Mobile - Tablet & Below
            @media screen and (max-width: $tablet) {
                  margin-right: 0;
                  margin-bottom: $gutter-vertical-small;
            } // End Tablet & Below
        }

        // Primary Mobile - Tablet & Below
        @media screen and (max-width: $tablet) {
          width: 100% !important;
      } // End Tablet & Below
    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    }
}


.u-center-text { text-align: center !important; }
.section-tours {
    //background-color: $background;

    // Primary Mobile - Tablet & Below
    @media screen and (max-width: $tablet) {
      padding: 20rem 0 10rem 0;
    } // End Tablet & Below

    h1 {
      color: $background;
    }
}

.card {

  // FUNCTIONALITY
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;

  &__side {
      height: 34rem;
      transition: all .8s ease;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0 1.5rem 4rem rgba($background, .15);

      &--front {
          background-color: $foreground;

          .location {
            @include flex-center;
            flex-direction: column;
          }
      }

      &--back {
          transform: rotateY(180deg);

          &-1 {
              background-image: linear-gradient(to right bottom, red, blue);
          }

          &-2 {
              background-image: linear-gradient(to right bottom, red, blue);
          }

          &-3 {
              background-image: linear-gradient(to right bottom, red, blue);
          }
      }
  }


  &:hover &__side--front {
      transform: rotateY(-180deg);
  }

  &:hover &__side--back {
      transform: rotateY(0);
  }


  // FRONT SIDE STYLING
  &__picture {
      background-size: cover;
      height: 17rem;
      background-blend-mode: screen;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;

      &--1 {
          background-image: linear-gradient(to right bottom, red, blue),
          url('../images/IMG_0198.jpg');
          background-position: center;
      }

      &--2 {
          background-image: linear-gradient(to right bottom, red, blue),
          url('../images/bar.jpg');
          background-position: center;
      }

      &--3 {
          background-image: linear-gradient(to right bottom, red, blue),
          url('../images/IMG_0093.jpg');
          background-position: center;
      }
  }

  &__heading {
      font-size: 2.8rem;
      font-weight: 300;
      text-transform: uppercase;
      text-align: right;
      color: $foreground;
      position: absolute;
      top: 12rem;
      right: 2rem;
      width: 75%;

  }

  &__heading-span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;

      &--1 {
          background-image: linear-gradient(to right bottom,
          rgba($background, .85),
          rgba($background, .85));
      }

      &--2 {
          background-image: linear-gradient(to right bottom,
          rgba($background, .85),
          rgba($background, .85));
      }

      &--3 {
          background-image: linear-gradient(to right bottom,
          rgba($background, .85),
          rgba($background, .85));
      }
  }

  &__details {
      padding: 3rem;

      ul {
          list-style: none;
          width: 80%;
          margin: 0 auto;

          li {
              text-align: center;
              font-size: 1.5rem;
              padding: 1rem;

              &:not(:last-child) {
                  border-bottom: 1px solid $background;
              }
          }
      }
  }

  // FRONT SIDE STYLING
  &__cta {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      text-align: center;
  }

  &__price-box {
      text-align: center;
      color: $foreground;
      margin-bottom: 8rem;
  }

  &__price-only {
      font-size: 1.4rem;
      text-transform: uppercase;
  }

  &__price-value {
      font-size: 6rem;
      font-weight: 100;
  }





  //@include respond(tab-port) {
  @media only screen and (max-width: 56.25em),
          only screen and (hover: none) {

      height: auto;
      border-radius: 3px;
      background-color: $foreground;
      box-shadow: 0 1.5rem 4rem rgba($background, .15);

      &__side {
          height: auto;
          position: relative;
          box-shadow: none;

          &--back {
              transform: rotateY(0);
              clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
          }
      }

      &:hover &__side--front {
          transform: rotateY(0);
      }


      &__details {
          padding: 1rem 3rem;
      }

      // FRONT SIDE STYLING
      &__cta {
          position: relative;
          top: 0%;
          left: 0;
          transform: translate(0);
          width: 100%;
          padding: 7rem 4rem 4rem 4rem;
      }

      &__price-box {
          margin-bottom: 3rem;
      }

      &__price-value {
          font-size: 4rem;
      }
    }

}
