.locations {
  // background-image: url('assets/images/brown-paper.png');
  // background-repeat: no-repeat;
  background-color: $color5;
  //background-size: 100% auto;
  //position: relative;
  // display: flex;
  // justify-content: space-between;

  &-content {
    display: flex;
    justify-content: flex-start;

    // Primary Mobile - Tablet & Below
    @media screen and (max-width: $tablet) {
      flex-direction: column;
  } // End Tablet & Below

    .location {
      margin-bottom: 7.8em;
    }

    h3 {
      font-size: 3.3em;
      letter-spacing: 0.1em;
      font-family: $font-medium;
      text-transform: lowercase;
      color: #FFEDC8;
    }

    p {
      font-family: $font-medium;
      font-size: 0.975em;
      margin-bottom: 0.3em;
      letter-spacing: 0.1rem;
      color: #FFEDC8;
    }

    .address {
      margin-bottom: 1.5em;

      p {
        line-height: 1;
      }
    }

    .hours {
      p {
        line-height: 1;
      }
    }
  }
}
