.map {
  padding: 6em 0;
  text-align: center;
  //background-image: url("../images/IMG_0186.jpg");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  background-color: lightblue;

  .bg-container {
    
  }

  h1 {
    margin-bottom: 6rem;
    font-family: $heading;
    color: $foreground;
  }

  iframe {
    max-width: 60%;
    border: 12px solid rgb(242,242,242);
    padding: 2em;

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      max-width: 90%;
    } // End Phone & Below
  }
}
