.photo-gallery-2 {
  display: block;
  .photo-gallery-wrap {
    position: relative;
    .overlay-text {
      @include h1;
      position: absolute;

      &-2 {
        @include h1;
        position: absolute;

        // Secondary Mobile - Phone & Below
        @media screen and (max-width: $phone) {
          font-size: 3.75em;
        } // End Phone & Below
      }

      &-3 {
        @include h1;
        position: absolute;

        // Secondary Mobile - Phone & Below
        @media screen and (max-width: $phone) {
          font-size: 3.75em;
        } // End Phone & Below
      }

      // Secondary Mobile - Phone & Below
      @media screen and (max-width: $phone) {
        font-size: 3.75em;
      } // End Phone & Below
    }

    article {
      min-height: 700px;

      h6 {
        @include photo-caption;
        padding: 10px;
      }
    }

    .photo-gallery-row {
      display: flex;

      .photo-1 {
        width: calc(40% - 2.5px);
        border-top: 5px solid #ffffff;
        border-right: 2.5px solid #ffffff;
        border-bottom: 2.5px solid #ffffff;
        border-left: 0;
        background-image: url("../images/IMG_0120.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .photo-2 {
        width: calc(60% + 2.5px);
        border-top: 5px solid #ffffff;
        border-bottom: 2.5px solid #ffffff;
        border-left: 2.5px solid #ffffff;
        background-image: url("../images/IMG_0114.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .photo-gallery-row-2 {
      display: flex;

      .photo-3 {
        width: calc(60% - 2.5px);
        border-top: 2.5px solid #ffffff;
        border-right: 2.5px solid #ffffff;
        border-bottom: 2.5px solid #ffffff;
        background-image: url("../images/IMG_0066.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .photo-4 {
        width: calc(40% + 2.5px);
        border-top: 2.5px solid #ffffff;
        border-bottom: 2.5px solid #ffffff;
        border-left: 2.5px solid #ffffff;
        background-image: url("../images/IMG_0093.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .photo-gallery-row-3 {
      display: flex;
      .photo-5 {
        width: calc(40% - 2.5px);
        border-top: 2.5px solid #ffffff;
        border-right: 2.5px solid #ffffff;
        border-bottom: 2.5px solid #ffffff;
        background-image: url("../images/IMG_0071.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .photo-6 {
        width: calc(60% + 2.5px);
        border-top: 2.5px solid #ffffff;
        border-bottom: 2.55px solid #ffffff;
        border-left: 2.5px solid #ffffff;
        background-image: url("../images/IMG_0108.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .photo-gallery-row-4 {
      display: flex;
      .photo-7 {
        width: calc(60% - 2.5px);
        border-top: 2.5px solid #ffffff;
        border-right: 2.5px solid #ffffff;
        border-bottom: 2.5px solid #ffffff;
        background-image: url("../images/IMG_0190.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .photo-8 {
        width: calc(40% + 2.5px);
        border-top: 2.5px solid #ffffff;
        border-bottom: 2.5px solid #ffffff;
        border-left: 2.5px solid #ffffff;
        background-image: url("../images/IMG_0062.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}

/*Begin Responsive Style*/
@media screen and (min-width: 320px) and (max-width: 767px) {
  .photo-gallery-2 {
    .photo-gallery-wrap {
      .photo-gallery-row {
        display: block;
        .photo-1 {
          width: 100%;
          border-right: 0;
          min-height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        .photo-2 {
          width: 100%;
          border-top: 2.5px solid #ffffff;
          border-left: 0;
          min-height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      .photo-gallery-row-2 {
        display: block;
        .photo-3 {
          width: 100%;
          border-right: 0;
          min-height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        .photo-4 {
          width: 100%;
          border-left: 0;
          min-height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      .photo-gallery-row-3 {
        display: block;
        .photo-5 {
          width: 100%;
          border-right: 0;
          min-height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        .photo-6 {
          width: 100%;
          border-left: 0;
          min-height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      .photo-gallery-row-4 {
        display: block;
        .photo-7 {
          width: 100%;
          border-right: 0;
          border-bottom: 2.5px solid #ffffff;
          min-height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        .photo-8 {
          width: 100%;
          border-left: 0;
          min-height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          border-bottom: 5px solid #ffffff;;
        }
      }
    }
  }
}
