.poco-experience {
  padding: 6em 0;
  background-color: $foreground;

  h2 {
    color: #70561C;
  }

  p {
    max-width: 40em;

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      font-size: 1.7em;
    } // End Phone & Below
  }
}
