.Review {
  background-color: #171717;
  height: 1000px;
  .ReviewWrap {
    text-align: left;
    h2 {
      @include large;
      padding: 75px 0 0 200px;
      max-width: 700px;
      color: $white;
    }
    p {
      padding-left: 200px;
      text-transform: uppercase;
      color: $white;
    }
  }
}

/*Begin Responsive Style*/

@media screen and (min-width: 768px) and (max-width: 1024px) {


}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .Review {
    height: 600px;
    .ReviewWrap {
      h2 {
        padding: 20px 20px 5px 20px;
        font-size: 25px;
      }
      p {
        padding: 0 0 0 20px;
      }
    }
  }
}
