.reviews {
  margin: 0;
  padding: 6em 0;
  background-color: $background;
  text-align: left;

  p {
    color: $foreground;
    font-size: 2em;
    margin-bottom: 2rem;
  }

  h6 {
    font-family: $font;
    color: $foreground;
    text-transform: uppercase;

    &:first-of-type {
      margin-bottom: 5rem;
    }
  }
}
