.reviews {
  margin: 0;
  padding: 6em 0;
  background-color: #1B1811;
  text-align: left;

  p {
    font-family: $font-medium;
    color: $foreground;
    font-size: 2em;
    margin-bottom: 2rem;

  }

  h6 {
    @include h1;
    //font-family: $font;
    color: $foreground;
    text-transform: uppercase;
    font-size: 2em;

    &:first-of-type {
      margin-bottom: 5rem;
    }
  }
}
