.home-hero {
  height: 70vh;
  border: none;
  padding: 6em 0;
  //background-image: url('../images/DSC04762.jpg');
  //background-image: url('../images/FoodBackground.png');
  // background-image: linear-gradient(
  //     to right bottom,
  //     rgba(#792d09, 0.8),
  //     rgba(#6800ff, 0.8)),
  // url('../images/foodtruck.jpg');
  background-image: linear-gradient(
      to right bottom,
      rgba(#000, 0.7),
      rgba(#000, 0.2)),
  url('../images/hummusAndSalad.png');
  //background-color: #f8ecde;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;



  // Primary Mobile - Tablet & Below
  @media screen and (max-width: $tablet) {
    height: auto;
  } // End Tablet & Below

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    padding: 2em 0;
  } // End Phone & Below

  //
  // // Secondary Mobile - Phone & Below
  // @media screen and (max-width: $phone) {
  //   -webkit-clip-path: polygon(0 0, 100% 0, 100% 95vh, 0 100%);
  //   clip-path: polygon(0 0, 100% 0, 100% 95vh, 0 100%);
  // } // End Phone & Below

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  ///////////////////////

  .phone {
    text-decoration: none;
  }

  // CTA
  .cta {
  &,
  &:link,
  &:visited {
  	display: inline-block;
  	min-width: 10em;
  	text-align: center;
  	background: #3b5998;
    background-color: #FFF;
  	padding: 1em 1.75em;
  	border-radius: 5rem;
  	box-shadow: 0 1rem 2rem rgba(#000, .2);
  	transition: all .2s;
  	//color: #FFF;
    color: $dark;
  	text-decoration: none;
  	font-family: $gothic;
  	font-size: 1.1em;
  	margin-bottom: 3rem;
  	letter-spacing: 0.1rem;
  	text-transform: uppercase;

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      min-width: 10em;
      margin-bottom: 2rem;
      display: inline-block;
    } // End Phone & Below

  	&:first-of-type {
  		margin-right: 1rem;
      // Primary Mobile - Tablet & Below
    	@media screen and (max-width: $tablet) {
    	  margin-right: 0;
    	} // End Tablet & Below
  	}
  }

  &:hover {
  	transform: translateY(-3px);
  }

  &:active,
    &:focus {
    	outline: none;
    	transform: translateY(-1px);
    	box-shadow: 0 .5rem 1rem rgba(#000, .2);
    }
  }

  h1 {
    margin: 0;
  	font-size: 5em;
  	line-height: 1.2;
  	letter-spacing: 0.1rem;
  	margin-bottom: 0.6em;
  	font-family: $heading;
    color: #fff;
    text-transform: uppercase;
    // -webkit-text-stroke: 1.9px #FFF;
    // text-stroke: 1.9px #FFF;
    // -webkit-text-fill-color: transparent;
    // text-fill-color: transparent;
    @include gothic;
    letter-spacing: -.05em;

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      font-size: 2.25em;
    } // End Phone & Below
  }
  h6 {
  	font-family: $font-bold;
  	//color: black;
  	font-size: 1.750em;
  	margin: 0 0 2rem 0;
  	letter-spacing: 0.1rem;



  	span {
      display: block;
      color: #FFF;

      .phone {
        //color: #3b5998;
        color: #FFF;
        margin: 0;
      	font-size: 1em;
      	line-height: 1.2;
      	letter-spacing: 0.1rem;
      	margin-bottom: 0.6em;
      	font-family: $gothic;
        //text-transform: uppercase;
        // -webkit-text-stroke: 1.9px #FFF;
        // text-stroke: 1.9px #FFF;
        // -webkit-text-fill-color: transparent;
        // text-fill-color: transparent;
      }

  		&:first-of-type {
  			// Secondary Mobile - Phone & Below
  			@media screen and (max-width: $phone) {
  				margin-bottom: 0.5em;
  			} // End Phone & Below
  		}
  	}
  }



}
