.photo-features {
  width: 100%;
  position: relative;
  background-color: rgb(242,242,242);
  text-align: center;
  display: inline-flex;
}
.photo-features-wrap {
  width: 100%;
  text-align: center;
}
.photo-features-photos Img {
  padding: 20px;
}
