.Menu {
  margin: 0;
  padding: 0;
  display: inline-flex;
  .MenuWrap {
    width: 100%;
    .mobile-menu {
      display: none;
    }
    display: flex;
    width: 100%;
    padding-top: 150px;
    text-align: center;
      .column-1 {
        padding: 0 10px 0 10px;
      }
      .column-2 {
        padding: 0 10px 0 10px;
      }
      .column-3 {
        padding: 0 10px 0 10px;
      }
      h1 {
        margin: 10px 0 0 0;
        padding: 20px;
        font-family: adobe-garamond-pro;
        font-weight: normal;
        font-size: 2.15em;
        color: #111;
      }

    span {
      display: inline-flex;
      min-width: 300px;
      height: 0.75px;
      border-top: 0.5px solid rgba(51, 51, 51, 0.52);
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .Outline {
      margin: 0;
      padding: 0;
      border: 1px solid rgba(219, 0, 0, 0.52);
      text-align: left;
      max-width: 400px;
      h5 {
        margin: 0 0 5px 0;
        padding: 25px 0 0 25px;
        font-size: 17.6px;
        font-family: adobe-garamond-pro;
        font-weight: bolder;
      }
      p {
        max-width: 250px;
        margin: 0 0 5px 0;
        padding: 0 0 0 25px;
        font-size: 16px;
        color: #333;
        font-family: adobe-garamond-pro;
        font-weight: lighter;
        font-style: normal;
        letter-spacing: 0.02em;
      }
    }
  }
}

/*Begin Responsive Style*/

@media screen and (min-width: 768px) and (max-width: 1024px) {

}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .Menu {
    .MenuWrap {
      .column-1 {
        display: none;
      }
      .column-2 {
        display: none;
      }
      .column-3 {
        display: none;
      }
      .mobile-menu {
        display: block;
      }
      padding-top: 110px;
      display: flex;
      flex-flow: column;
      #seafood {
        order: 1;
      }
      #vegetarian {
        order: 2;
      }
      #carne {
        order: 3;
      }
      #big-plates {
        order: 4;
      }
      #pizza {
        order: 5;
      }
      #accompaniments {
        order: 6;
      }
      .Outline {

      }
    }
  }
}
