@import "../hamburgers/hamburgers";

.MobileNavigation {
  display: none;
}

/*Begin Responsive Style*/

@media screen and (min-width: 768px) and (max-width: 1024px) {


}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .MobileNavigation {
    display: block;
  }
  .MobileMenuHidden {
    display: none;
  }
  .MobileNavigationWrap {
    .Link {
      text-decoration: none;
    }
  }
  .MobileNavigationActive {
    padding: 2.0em;
    display: block;
    position: absolute;
    text-align: left;
    height: 600px;
    width: 100%;
    background-color: #ffffff;
    a {
      text-decoration: none;
      color: #31373f;
    }
    h5 {
      font-family: atrament-web, sans-serif;
      font-style: normal;
      text-transform: uppercase;
      font-size: 2.1em;
      font-weight: 600;
      margin: 0.45em;
      letter-spacing: 0.025em
    }
  }
}
