.Perrysburg {
  .Weekdays {
    text-align: left;
  }
  .Weekends {
    text-align: right;
  }
  h1 {
    margin: 0;
    font-family: adobe-garamond-pro;
    font-weight: 600;
    font-size: 2.15em;
    color: #111;
  }
  span {
    display: inline-flex;
    width: 9.5em;
    height: 0.325em;
    border-top: 0.225em solid #bf5252;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  h3 {
    margin: 0;
    font-family: adobe-garamond-pro;
    font-size: 2.0em;
    color: #111;
    font-weight: 600;

  }
  h4 {
    font-family: adobe-garamond-pro;
    font-style: normal;
    font-size:1.25em;
    padding: 0.5em 0.5em 0.5em 0em;
  }
  h6 {
    font-family: adobe-garamond-pro;
    text-transform: uppercase;
  }
  p {
    font-size: 1.2em;
    color: #333;
    font-family: adobe-garamond-pro;
    font-weight: lighter;
    font-style: normal;
    letter-spacing: 0.02em;
  }
  .Hours {
    display: flex;
    padding-top: 0.5rem;
  }
}
