.PrivateEvents {
  background-color: rgb(242,242,242);
  text-align: center;
  display: inline-flex;
  .PrivateEventsWrap {
    justify-content: space-evenly;
    max-width: 600px;
  }
  h1 {
    font-family: atrament-web, sans-serif;
    color: #111;
    font-weight: 400;
    font-style: normal;
  	text-transform: uppercase;
  	font-size: 2.15em;
    //margin-top: 1.53em;
    margin-top: 1.15em;
    margin-bottom: 0;
  }
  p {
    font-size: 1.2em;
    color: #333;
    font-family: helvetica, sans-serif;
    font-weight: lighter;
    font-style: normal;
    letter-spacing: 0.02em;
  }
  span {
    display: inline-flex;
    width: 9.5em;
    height: 0.325em;
    border-top: 0.225em solid #bf5252;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  button {
    font-family: helvetica, sans-serif;
    padding: .5rem 2.5rem;
    color: #fff;
    fontWeight: 700;
    background: #bf5252;
    border-radius: 5%;
    border-width: 0;
    cursor: pointer;
  }
}
