.PrivateEvents {
  background-color: #ffffff;
  span {
    display: inline-flex;
    width: 9.5em;
    height: 0.325em;
    border-top: 0.225em solid #bf5252;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
