.ThePocoExperience {
  display: inline-flex;
  width: 100%;
  font-family: Helvetica;
  padding: 20px;
  background-color: rgb(242,242,242);
  section {
    width: 50%;
  }
  aside {
    text-align: center;

    img {
      max-width: 60%;
    }
  }
  h1 {
    color: #111;
  }
  p {
    color: #333;
  }
}


/*Begin Responsive Style*/

@media screen and (min-width: 768px) and (max-width: 1024px) {


}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .ThePocoExperience {
    section {
      width: 100%;
    }
    aside {
      img {
        max-width: 100%;
      }
    }

  }
}
