.PerrysburgRoom {
  width: 100%;

  .PerrysburgRoomWrap {
    text-align: left;

    h1 {
      @include extra-large;
      color: $white;
    }

    h2 {
      @include medium;
      color: $foreground;
      margin: 0 0 2em 0;
      font-family: $font-medium;
    }
  }
}
