.PrivateEvents {
  //text-align: center;
  //background: $background;
  padding: 6em 0;

  .PrivateEventsWrapHeader {
    margin-bottom: 0;

    h1 {
      @include h1;
    }

    h3 {
      text-transform: up;
      font-size: 2.6em;
      line-height: 160%;
    }
  }


  .RoomDescription {
    //background-color: $background;

    a {
      margin-bottom: 2em;
    }
    h1 {
      @include h1;
      color: $white;
      font-size: 2em;
      margin-bottom: 2em;
    }
  }
}
