.mobile-navigation {
  display: none;


  // Primary Mobile - Tablet & Below
  @media screen and (max-width: $tablet) {
    display: block;
  } // End Tablet & Below

  &-hidden {
    display: none;
  }

  &-active {
    position: absolute;
    top: 10em;
    z-index: 100000;
    left: 0;
    display: block;
    text-align: center;
    width: 100%;
    border-radius: 0.5em;

    &-wrap {
      background-color: #fff;
      padding: 5em;
      text-align: left;
      border-radius: 0.5em;

      @media screen and (max-width: $phone) {
        padding: 5em 2em;
        margin: 0;

      } // End Phone & Below
    }

    a {
      text-decoration: none;
      font-family: $heading;
      text-transform: uppercase;
      font-family: $heading;
      display: block;
      font-size: 2.15em;
      color: $dark;
      transition: all .4s;
      padding-bottom: 0.5em;

      &:hover,
        &:active {
          transform: translateX(1rem);
      }
    }
  }
}
