.Navigation {
  width: 100%;
  background-color: $white;
  display: flex;
  padding: 10px 40px 10px 5px;


  img {
    width: 80px;
    padding: 0 0 0 10px;
  }

  .NavigationWrap {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .Order {
      border: 3px solid black;
      border-radius: 2em;
      padding: 8px;
    }

    a {
      padding: 25px;
      font-family: $nav-font;
      text-transform: uppercase;
      text-decoration: none;
      color: $dark;
    }



  }


}

/*Begin Responsive Style*/

@media screen and (min-width: 768px) and (max-width: 1024px) {


}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .Navigation {
    margin: 0;
    padding: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .NavigationWrap {
      display: none;
      height: 400px;
      max-width: 100%;
      text-align: left;

      .logo {
        position: absolute;
        left: 50%;
        z-index: 1;
        transform: translate3d(-80%, 0, 0);
      }
    }
  }
}
