.Navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;

  a {
    padding: 25px;
    font-family: $nav-font;
    text-transform: uppercase;
    text-decoration: none;
    color: $dark;
  }

  img {
    max-width: 100px;
    margin: 0;
  }
}

/*Begin Responsive Style*/

@media screen and (min-width: 768px) and (max-width: 1024px) {


}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .Navigation {
    margin: 0;
    padding: 0;
    .NavigationWrap {
      display: flex;
      height: 100px;
      max-width: 100%;
      text-align: left;
      .logo {
        position: absolute;
        left: 50%;
        z-index: 1;
        transform: translate3d(-80%, 0, 0);
      }
    }

  }
  .Navigation ul {
    display: none;
  }
}
