.Faq {
  text-align: left;
  padding: 6em 0;

  h2 {
    @include h1;
    color: $foreground;
    font-size: 4em;
    margin-bottom: 1em;
  }

  h5 {
    @include h1;
    font-size: 1.75em;
    color: $foreground;
    margin: 0 0 2em 0;
  }

  p {
    color: $foreground;
    font-family: $font-medium;
    font-size: 1.5;
    margin-bottom: 2em;

    a {
      text-decoration: none;
      color: #1B1811;
    }
  }
}
