.Faq {
  text-align: left;
  padding: 6em 0;
  background-color: $foreground;

  h2 {
    @include h1;
    color: $background;
    font-size: 4em;
    margin-bottom: 1em;
  }
  h5 {
    @include small-bold;
    font-size: 1.15em;
    margin: 0 0 2em 0;
  }
  p {
    @include medium;
    color: $dark;
    margin: 0 0 2em 0;

    a {
      text-decoration: none;
      color: #3b5998;;
    }
  }
}
