// Better Box
@mixin better-box($display: inline-block) {
  display: $display;
  position: relative;
}

// Full Box
@mixin full-box($display: inline-block) {
  @include better-box($display);
  clear: both;
  float: none;
  width: 100%;
} // End Full Box

// Wrap
@mixin wrap($width: $wrap, $max-width: auto, $display: block) {
  @include better-box($display);
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
  width: $width;
  z-index: 2;

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    width: $wrap-mobile;
  } // End Phone & Below
} // End wrap

.wrap {
  @include wrap($wrap, 80em);
}

.inner-wrap {
  @include wrap($wrap, 68em);
}

.small-wrap {
  @include wrap($wrap, 48em);
}

.mini-wrap {
  @include wrap($wrap, 36em);
}
